@font-face {
  font-family: BStyle;
  src: url("/bstyle/BStyle_R.otf");
  font-weight: normal;
}
@font-face {
  font-family: BStyle;
  src: url("/bstyle/BStyle_B.otf");
  font-weight: bold;
}
:root {
  --clr-primary: #000000;
  --clr-secondary: #ffffff;
  --clr-secondary-ninty: #e6e6e6;
  --clr-highlight: #f24f6e;

  --fs-300: 1.4rem;
  --fs-400: 2rem;
  --fs-450: 3.5rem;
  --fs-500: 4.8rem;
  --fs-600: 6.4rem;
  --fs-btn-txt: 2.8rem;
  --fs-nav-link-txt: 1.5rem;

  --fs-body: var(--fs-400);
  --fs-heading: var(--fs-500);

  --fw-regular: 400;
  --fw-bold: 600;
  --fw-semi-bold: 500;
}
@media only screen and (max-width: 668px) {
  :root {
    --fs-300: 0.8rem;
    --fs-400: 1.5rem !important;
    --fs-500: 2rem !important;
    --fs-600: 3.5rem !important;
    --fs-btn-txt: 1.5rem !important;
    --fs-450: 2.5rem !important;
  }
}
@media only screen and (max-width: 766px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 2rem;
    --fs-500: 2.5rem;
    --fs-600: 5rem;
    --fs-btn-txt: 2rem;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.3rem;
    --fs-500: 2.6rem;
    --fs-btn-txt: 2.7rem;
  }
}
/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--clr-primary);
  font-size: 62.5%;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-secondary);

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--clr-primary);
}
button {
  border: none;
  background: transparent;
}
/* Utility classes */
section {
  margin: 5rem 0rem;
}
.hero-container,
.container {
  max-width: 1300px;
  margin: auto;
  @media screen and (max-width: 1350px) {
    width: 90%;
  }
}
.txt-heading-600 {
  font-size: var(--fs-600);
}
.txt-heading-500 {
  font-size: var(--fs-500);
  color: var(--clr-secondary);
}
.txt-heading-400 {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 25px;
}
.txt-heading-450 {
  font-size: var(--fs-450);
  font-weight: var(--fw-bold);
  line-height: 40px;
}
.txt-heading-300 {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}
.btn-txt {
  font-size: var(--fs-btn-txt);
}
.nav-link-txt {
  font-size: var(--fs-nav-link-txt);
  font-weight: var(--fw-semi-bold);
}
.txt-align-center {
  text-align: center;
}
.btn-bg {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  border-radius: 50px;
  padding: 15px 40px;
  cursor: pointer;
}
.d-flex {
  display: flex;
  align-items: center;
}
.justify-content-space-between{
  justify-content: space-between;
}
/* Navigation Css */
.sticky{
  position: sticky;
  top: 0;
  z-index: 99;
}
nav {
  background-color: var(--clr-secondary-ninty);
  border-radius: 50px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
menu {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  @media only screen and (max-width: 991px){
    gap: 1.5rem!important;
  }
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  @media only screen and (max-width: 991px){
    gap: 2rem!important;
  }
  @media only screen and (max-width: 576px){
    padding: 1rem 0;
  }
}
.nav-right {
  background-color: var(--clr-secondary);
  padding: 20px 40px;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  @media only screen and (max-width: 576px){
    display: none;
  }
}
.nav-right button a,
.conversation-start-link-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Slider CSS */
.slider-image-container-title {
  margin-bottom: 5rem;
}
.slider-container {
  height: 350px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  @media screen and (max-width: 668px) {
    height: 100%;
  }
}
.slider-content {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
}
.slider-image {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  perspective: 100px;
}
.slider-image img {
  width: 100%;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
/* Trusted Companies */
.trusted-companies-container {
  background-color: #141414;
}
.trusted-companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5rem;
  flex-wrap: wrap;
  gap: 2rem;
}
/* Conversation Container CSS */
.conversation-content,
.how-we-do-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 3rem;
  padding: 50px 0px;
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.conversation-content-left,
.how-we-do-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
  }
}
.how-we-do-content-left img,
.conversation-content-right img {
  width: 100%;
}

/* SLIDER CSS */
.fhixa-team-slider-container {
  background-color: #141414;
  padding: 7rem;
}
.team-member-bio {
  margin-top: 5rem;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.team-member-position h4 {
  margin-top: 1rem;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}
.swiper-button-next,
.swiper-button-prev {
  width: auto !important;
}
@media screen and (max-width: 700px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
/* Case Stydies CSS */
.case-stydies h4 {
  color: rgba(255, 255, 255, 0.6000000238418579);
  margin-top: 2rem;
}
.case-study-01,
.case-study-02 {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: #141414;
  border-radius: 12px;
  flex: none;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  will-change: var(--framer-will-change-override, transform);
}
.case-study-img {
  padding: 4rem;
}
.case-study-img img {
  width: 100%;
}
.case-study-txt {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: linear-gradient(
    -0.000011858106802264956deg,
    #0a0a0a 0%,
    rgba(10, 10, 10, 0.6000000238418579) 100%
  );
  bottom: 0;
  flex: none;
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}
.case-study-txt h2 span {
  font-size: 2rem;
  color: var(--clr-secondary-ninty);
  background-color: var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  position: absolute;
  right: 15px;
}
.case-stydies-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0rem;
  gap: 3rem;
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
/* FAQ CSS */
.faq-container {
  background-color: #141414;
}
.faq-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 3rem 0rem;
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.faq-content-txt {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2rem 0rem;
}
.faq-content-txt h2 {
  margin-bottom: 1rem;
  font-weight: var(--fw-bold);
}
/* Contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}
.contact-form input,
textarea {
  font-size: var(--fs-300);
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 1);
}
.contact-form-container-content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap-reverse;
  }
}
.contact-form-container-left {
  background-color: #141414;
  padding: 3rem;
  border-radius: 3rem;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.contact-form-container-left p {
  margin: 1rem 0rem;
}
.contact-form-container-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.meta span {
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
}

/* Schedule a meeting */

.schedule-a-meeting{
  background-color: #141414;
  border-radius: 8rem;
}
.schedule-a-meeting img{
  width: 90px;
}
.meet-arrow{
  padding: 1rem;
}
.meeting-left{
  gap: 1rem;
}
@media only screen and (min-width: 766px) {
  .meeting-left{
    gap: 5rem;
  }
  .schedule-a-meeting img{
    width: 110px;
  }
}
